body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #FDB142;
  padding: 20px;
  color: white;
}

main {
  flex: 1;
}

.responsive-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
}

.Text {
  font-size: 30px;
   text-align: center;
}
footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}
